/* Eric Meyer's CSS Reset */


html, body, div, span, applet, object, iframe,
h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, code, cite,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */


article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* End of Eric Meyer's CSS Reset */



@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

* {
  font-family: Roboto;
}

html {
  height: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  width: 100%
  height: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  height: auto !important;
}

.header {
  height: 250px;
  background: #292c2f;
}

h1 {
  font-size: 25px;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 25px;
}

.center_table {
  margin-left: auto;
  margin-right: auto;
}

.table_overflow {
  overflow-x: auto;
}

table td,table th {
  padding-left: 8px
}

table thead tr {
  height: 30px;
  background: #36304a
}

table tbody tr {
  height: 30px
}

.date {
  text-align: right;
  padding-right: 8px
}

.date_table {
  width: 90%;
  font: normal 20px sans-serif;
  margin-left: 5%;
}

button {
  float: right;
}

section {
  width: 100%;
  display: inline-block;
  background: #ccc;
  height: 60vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font: normal 16px sans-serif;
  padding: 25px 20px;
}

.footer-distributed a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition: all 0.25s;
}

.footer-distributed div {
  float: left;
  color: white;
  padding-top: 12px;
}

.footer-distributed .footer-right a:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

@media (max-width: 600px) {
  .footer-distributed .footer-left,
  .footer-distributed .footer-right {
    text-align: center;
  }
}

.fa {
  padding-top: 10px;
}

#scrollToTopBtn {
  background-color: #33383b;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 16px;
  line-height: 48px;
  width: 48px
}

.warning button, .success button, .failure button {
  background-color: #33383b;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 10%;
  line-height: 25px;
}